.container {
  max-width: 77.5rem;
  margin: 74px auto;
  padding: 0 1rem;
}

.left-section {
  flex: 1;
}
.left-section__about {
  margin: 0;
}
.left-section__about__workflow--title {
  color: #16161D;
  font-size: 20px;
}
.left-section__about__workflow--description {
  margin: 1rem 0;
  font-weight: 400;
  color: rgba(32, 32, 32, 0.8);
  font-size: 15px;
}
.left-section__about__website {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.left-section__about__website--img {
  margin: 1rem 0;
  width: 100%;
  height: 50%;
}
.left-section__about__website__caption--title {
  color: #16161D;
  font-weight: 700;
  font-size: 20px;
}
.left-section__about__website__caption--description {
  margin: 0.5rem 0;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 15px;
}
.left-section__about__website__button__primary {
  font-weight: 600;
  font-size: 14px;
  color: #16161D;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #F8B20E;
  padding: 0.5rem 0.5rem;
  outline: none;
  cursor: pointer;
}
.left-section__about__website__button__primary--hover:hover {
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #8E489B;
  padding: 0.5rem 0.5rem;
  outline: none;
  cursor: pointer;
}
.left-section__about__website__button__primary--hover::after {
  content: " ";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.left-section__about__website__button__primary--hover:hover::after {
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  opacity: 1;
  color: #fff;
}
.left-section__about__website__button__tertiary {
  font-weight: 600;
  font-size: 14px;
  color: #16161D;
  border: 2px solid transparent;
  border-radius: 4px;
  background: transparent;
  padding: 0.5rem 0.5rem;
  outline: none;
  cursor: pointer;
}
.left-section__about__website__button__tertiary--hover::after {
  content: " ";
  margin-left: 5px;
  border: solid #00B0D5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 1;
}
.left-section__about__website__button__tertiary--hover:hover::after {
  border: solid #8E489B;
  border-width: 0 3px 3px 0;
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  opacity: 1;
}
.left-section__program--title {
  margin: 1rem 0;
  color: #16161D;
  font-size: 28px;
  font-weight: 700;
}
.left-section__program__box {
  border: 2px solid rgba(164, 164, 164, 0.5);
  border-radius: 4px;
  height: 100%;
}
.left-section__program__box__choice {
  display: flex;
  justify-content: space-around;
}
.left-section__program__box__choice__year {
  color: #16161D;
  background: #F8F7FC;
  border: 2px solid transparent;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  padding: 16px;
  cursor: pointer;
}
.left-section__program__box__choice__year--active {
  background: #fff;
  border-top: 2px solid #F8B20E;
}
.left-section__program__box__choice__list {
  padding: 20px;
}
.left-section__program__box__choice__item {
  padding: 4px 0;
  color: #F8B20E;
  list-style-type: square;
}
.left-section__program__box__choice__item-name {
  color: #16161D;
}
.left-section__resources--title {
  margin: 1rem 0;
  color: #16161D;
  font-size: 28px;
  font-weight: 600;
}
.left-section__resources__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.left-section__resources__box {
  background: #F3F3F3;
  padding: 20px 23px;
  flex: 1 1 300px;
  height: 100%;
}
.left-section__resources__box--light {
  background: #F8F7FC;
}
.left-section__resources__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section__resources__top--date {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 700;
  font-size: 12px;
}
.left-section__resources__top__mark {
  border: 0.5px solid #F3F3F3;
  color: rgba(32, 32, 32, 0.8);
  background: #fff;
  padding: 6px 10px;
}
.left-section__resources__top__mark--highlight {
  border-left: 4px solid #F8B20E;
}
.left-section__resources__location {
  margin: 5px 0 50px 0;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 700;
  font-size: 12px;
}
.left-section__resources__location--held {
  color: rgba(32, 32, 32, 0.8);
  background: transparent;
  font-weight: 400;
  font-size: 12px;
}
.left-section__resources--mid-text {
  color: rgba(32, 32, 32, 0.8);
  margin: 10px 0;
  font-weight: 600;
  font-size: 19px;
}
.left-section__resources--bot-text {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 14px;
}
.left-section__resources__btn {
  display: flex;
  justify-content: center;
  margin: 2rem;
}
.left-section__resources__secondary {
  border: 2px solid #F8B20E;
  border-radius: 4px;
  background: transparent;
  padding: 0.7rem 2rem;
  outline: none;
  cursor: pointer;
}
.left-section__resources__secondary--hover:hover {
  border: 2px solid #8E489B;
  border-radius: 4px;
  background: transparent;
  padding: 0.7rem 2rem;
  outline: none;
  cursor: pointer;
}
.left-section__resources__secondary--hover::after {
  content: " ";
  border: solid #8E489B;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.left-section__resources__secondary--hover:hover::after {
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  opacity: 1;
}
.left-section__resources__secondary--link {
  font-weight: 600;
  font-size: 16px;
}
.left-section__contact {
  padding: 40px;
  flex: 1 1 auto;
  background: #F5F5F5;
}
.left-section__contact--connect {
  color: rgba(32, 32, 32, 0.8);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
}
.left-section__contact--more-info {
  color: rgba(32, 32, 32, 0.8);
  padding: 14px 0;
  font-weight: 400;
  font-size: 16px;
}
.left-section__contact__inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.left-section__contact__inputs__user {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.left-section__contact__inputs--info {
  width: 200px;
  height: 40px;
}
.left-section__contact__inputs--comment {
  width: 200px;
  height: 100px;
}
.left-section__contact__inputs input[type=text] {
  border: 2px solid rgba(164, 164, 164, 0.5);
  color: rgba(32, 32, 32, 0.8);
  padding: 12px 20px;
}
.left-section__contact__inputs input[type=email] {
  border: 2px solid rgba(164, 164, 164, 0.5);
  color: rgba(32, 32, 32, 0.8);
  padding: 12px 20px;
}
.left-section__contact__btn {
  margin-top: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #F8B20E;
  padding: 0.5rem 2rem;
  outline: none;
  cursor: pointer;
}
.left-section__contact__btn--hover:hover {
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #8E489B;
  padding: 0.5rem 2rem;
  outline: none;
  cursor: pointer;
}
.left-section__contact__btn--hover::after {
  content: " ";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.left-section__contact__btn--hover:hover::after {
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  opacity: 1;
  color: #fff;
}

.right-section {
  flex: 0 1 400px;
}
.right-section__box {
  margin: 25px 0;
  padding: 20px;
  border: 1px solid rgba(118, 118, 118, 0.2);
  border-radius: 4px;
}
.right-section__box-content--bold-text {
  color: #16161D;
  font-weight: 700;
  font-size: 16px;
}
.right-section__box-content--normal-text {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 16px;
}
.right-section__event-info {
  margin-top: 14px;
  padding: 20px;
  background: #F8F7FC;
  height: 133px;
}
.right-section__event-info--date {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 700;
  font-size: 12px;
}
.right-section__event-info--location {
  margin: 5px 0;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 700;
  font-size: 12px;
}
.right-section__event-info--held {
  background: transparent;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 12px;
}
.right-section__event-info--title {
  margin: 15px 0;
  color: #16161D;
  font-weight: 600;
  font-size: 19px;
}
.right-section__related-info {
  margin-top: 14px;
}
.right-section__related-info--img {
  width: 100%;
}
.right-section__related-info--caption {
  color: rgba(32, 32, 32, 0.8);
  margin-top: 15px;
  font-weight: 600;
  font-size: 15px;
}
.right-section__related-article {
  margin: 12px 0;
}
.right-section__related-article--icon {
  margin-right: 10px;
  color: #00B0D5;
}
.right-section__related-article--link {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 600;
  font-size: 15px;
}
.right-section__related-article--link:hover {
  border-bottom: 1.5px solid #00B0D5;
}
.right-section__related-resources {
  margin-top: 14px;
  padding: 20px;
  background: #F3F3F3;
  height: 100%;
}
.right-section__related-resources__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right-section__related-resources__top--date {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 700;
  font-size: 12px;
}
.right-section__related-resources__top--mark {
  padding: 6px 10px;
  background: #fff;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 13px;
}
.right-section__related-resources--mid-text {
  margin: 10px 0;
  color: #16161D;
  font-weight: 600;
  font-size: 19px;
}
.right-section__related-resources--bot-text {
  color: rgba(32, 32, 32, 0.8);
  font-weight: 400;
  font-size: 14px;
}
.right-section__connect {
  display: flex;
  gap: 15px;
}
.right-section__connect--link {
  margin-top: 1rem;
  color: rgba(32, 32, 32, 0.8);
  font-size: 3rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F5F5F5;
  margin: 0 auto;
  max-width: 77.5rem;
}
.footer__left {
  order: 9999;
}
.footer__left--img {
  width: 100%;
}
.footer__right {
  margin-left: 2rem;
  order: -9999;
}
.footer__right--title {
  margin-top: 2rem;
  text-transform: uppercase;
  color: #16161D;
  font-weight: 600;
  font-size: 20px;
}
.footer__right--description {
  margin: 1rem 0;
  color: rgba(32, 32, 32, 0.8);
  font-weight: 600;
  font-size: 15px;
}
.footer__right__btn {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 16px;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #F8B20E;
  padding: 0.5rem 2rem;
  outline: none;
  cursor: pointer;
}
.footer__right__btn--hover:hover {
  color: #fff;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #8E489B;
  padding: 0.5rem 2rem;
  outline: none;
  cursor: pointer;
}
.footer__right__btn--hover::after {
  content: " ";
  border: solid #fff;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  opacity: 0;
}
.footer__right__btn--hover:hover::after {
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  opacity: 1;
  color: #fff;
}

@media screen and (min-width: 1024px) {
  .container {
    display: flex;
    gap: 20px;
  }
  .left-section {
    flex: 1;
  }
  .left-section__about__workflow--title {
    font-size: 35px;
  }
  .left-section__about__workflow--description {
    font-size: 18px;
  }
  .left-section__about__website {
    flex-direction: row;
  }
  .left-section__about__website--img {
    width: 182px;
    height: 166px;
  }
  .left-section__about__website__caption--title {
    font-size: 28px;
  }
  .left-section__about__website__caption--description {
    font-size: 16px;
  }
  .left-section__about__website__button__primary {
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    background: #F8B20E;
    padding: 0.7rem 2rem;
    outline: none;
    cursor: pointer;
  }
  .left-section__about__website__button__primary--hover:hover {
    color: #fff;
    border: 2px solid transparent;
    border-radius: 4px;
    background: #8E489B;
    padding: 0.7rem 2rem;
    outline: none;
    cursor: pointer;
  }
  .left-section__about__website__button__tertiary {
    font-weight: 600;
    font-size: 16px;
    color: #16161D;
    border: 2px solid transparent;
    border-radius: 4px;
    background: transparent;
    padding: 0.7rem 0.9rem;
    outline: none;
    cursor: pointer;
  }
  .left-section__program--title {
    font-size: 28px;
  }
  .left-section__program__box {
    border: 2px solid rgba(164, 164, 164, 0.5);
    border-radius: 4px;
  }
  .left-section__program__box__choice__year {
    font-size: 20px;
  }
  .left-section__resources--title {
    font-size: 28px;
  }
  .left-section__resources__box {
    height: 173px;
  }
  .left-section__contact__inputs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .left-section__contact__inputs__user {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .left-section__contact__inputs--info {
    width: 200px;
    height: 40px;
  }
  .left-section__contact__inputs--comment {
    width: 350px;
    height: 100px;
  }
  .footer {
    display: flex;
    flex-direction: row;
  }
  .footer__left {
    order: -9999;
  }
  .footer__right {
    max-width: 400px;
    order: 9999;
  }
  .footer__right--title {
    font-size: 30px;
  }
  .footer__right--description {
    font-size: 18px;
  }
}/*# sourceMappingURL=Home.modules.css.map */