@media screen and (min-width: 640px){
    .container{
        display: flex;
        gap: 20px;
    }
    .left-section{
        flex: 1;
    
        &__about{
            //code here
    
            &__workflow{
                //code here
                &--title{
                    color: $primary-text;
                    font-size: 35px;
                }
                &--description{
                    font-size: 18px;
                }
            }
            &__website{
                display: flex;
                flex-direction: row;
                gap: 20px;
                &--img{
                    width: 182px;
                    height: 166px;
                }
                &__caption{
                    //code here
                    &--title{
                        font-size: 28px;
                    }
                    &--description{
                        font-size: 16px;
                    }
                }
                &__button{
                    //code here
                    &__primary{
                        @include button();
    
                        &--hover:hover{
                            color: $white;
                            @include button($color: $purple, $sizeValue: 0.7rem 2rem, $border: $transparent)
                        }
                        &--hover::after{
                            content: " ";
                            border: solid $white;
                            border-width: 0 3px 3px 0;
                            display: inline-block;
                            padding: 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            opacity: 0;
                        }
                        &--hover:hover::after{
                            transition: all 0.2s ease-in-out;
                            margin-left: 1rem;
                            opacity: 1;
                            color: $white;
                        }
                    }
                    &__tertiary{
                        @include button($color: $transparent, $sizeValue: 0.7rem 0.9rem, $border: $transparent);
                        
                        &--hover:hover{
                            color: $primary-text;
                        }
                        &--hover::after{
                            content: " ";
                            margin-left: 5px;
                            border: solid $cyan;
                            border-width: 0 3px 3px 0;
                            display: inline-block;
                            padding: 3px;
                            transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            opacity: 1;
                        }
                        &--hover:hover::after{
                            border: solid $purple;
                            border-width: 0 3px 3px 0;
                            transition: all 0.2s ease-in-out;
                            margin-left: 1rem;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        &__program{
            //code here
            &--title{
                font-size: 28px;
            }
            &__box{
                border: $border-box;
                border-radius: 4px;
                height: 378px;
    
                &__choice{
                    display: flex;
                    justify-content: space-around;
                    
    
                    &__year{
                        color: $primary-text;
                        background: $smoke-white;
                        border: 2px solid transparent;
                        font-size: 20px;
                        font-weight: 400;
                        width: 100%;
                        padding: 16px;
                        cursor: pointer;
    
                        &--active{
                            background: $white;
                            border-top: 2px solid $yellow;
                        }
                    }
                    &__list{
                        padding: 20px;
                    }
                    &__item{
                        padding: 4px 0;
                        color: $yellow;
                        list-style-type: square;
                    }
                    &__item-name{
                        color: $primary-text;
                    }
                }
            }
        }
        &__resources{
            //code here
            &--title{
                font-size: 28px;
                font-weight: 600;
            }
            &__content{
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                
            }
            &__box{
                background: $darken-white;
                padding: 20px 23px; 
                flex: 1 1 300px;
                height: 173px;
    
                &--light{
                    background: $smoke-white;
                }
            }
            &__top{
                display: flex;
                justify-content: space-between;
                align-items: center;
    
                &--date{
                    color: $secondary-text;
                    font-weight: 700;
                    font-size: 12px;
                }
                &__mark{
                    border: 0.5px solid $darken-white;
                    color: $secondary-text;
                    background: $white;
                    padding: 6px 10px;
                    
                    &--highlight{
                        border-left: 4px solid $yellow;
                    }
                }
            }
            &__location{
                margin: 5px 0 50px 0;
                color: $secondary-text;
                font-weight: 700;
                font-size: 12px;
                &--held{
                    color: $secondary-text;
                    background: $transparent;
                    font-weight: 400;
                    font-size: 12px;
                }
            }
            &--mid-text{
                color: $secondary-text;
                margin: 10px 0;
                font-weight: 600;
                font-size: 19px;
            }
            &--bot-text{
                color: $secondary-text;
                font-weight: 400;
                font-size: 14px;
            }
            &__btn{
                display: flex;
                justify-content: center;
                margin: 10px;
            }
            &__secondary{
                @include button($color:$transparent, $sizeValue: 0.7rem 2rem, $border: $yellow);
                
                &--hover:hover{
                    @include button($color: $transparent, $sizeValue: 0.7rem 2rem, $border: $purple)
                }
                &--hover::after{
                    content: " ";
                    border: solid $purple;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    opacity: 0;
                }
                &--hover:hover::after{
                    transition: all 0.2s ease-in-out;
                    margin-left: 1rem;
                    opacity: 1;
                }
    
                &--link{
                    font-weight: 600;
                    font-size: 16px;   
                }
            }
        }
        &__contact{
            padding: 40px;
            flex: 1 1 auto;
            background: $lighten-gray;
    
            &--connect{
                color: $secondary-text;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 19px;
            }
            &--more-info{
                color: $secondary-text;
                padding: 14px 0;
                font-weight: 400;
                font-size: 16px;
            }
    
            &__inputs{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                gap: 20px;
                &__user{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                &--info{
                    width: 350px;
                    height: 40px;
                }
                &--comment{
                    width: 350px;
                    height: 100px;
                }
                input[type=text]{
                    border: $border-box;
                    color: $secondary-text;
                    padding: 12px 20px;
                }
                input[type=email]{
                    border: $border-box;
                    color: $secondary-text;
                    padding: 12px 20px;
                }
            }
            &__btn{
                margin-top: 20px;
                @include button($color: $yellow, $sizeValue: 0.5rem 2rem, $border: $transparent);
    
                &--hover:hover{
                    color: $white;
                    @include button($color: $purple, $sizeValue: 0.5rem 2rem, $border: $transparent)
                }
                &--hover::after{
                    content: " ";
                    border: solid $white;
                    border-width: 0 3px 3px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    opacity: 0;
                }
                &--hover:hover::after{
                    transition: all 0.2s ease-in-out;
                    margin-left: 1rem;
                    opacity: 1;
                    color: $white;
                }
            }
        }
    }
    .right-section{

    }
    .footer{
        display: flex;
        flex-direction: row;

        &__left{
            order: -9999;
            
        }
        &__right{
            max-width: 400px;
            order: 9999;
        }
    }
}